body {
    background-color: #eee;
    color: #444;
    font-family: monospace;
    font-size: 1rem;
    margin: 0;
    overflow: hidden;
}

/* Big screen, big height */
@media screen and (min-width: 1600px) and (min-height: 800px) {
    #speed {
        padding: 50px;
        height: 120px;
        font-size: 3rem;
    }

    #panel {
        height: 100px;
        font-size: 1.8rem;
    }

    #text {
        max-height: 50%;
        overflow: hidden;
        font-size: 2.5rem;
    }
}

/* Average screen, big height */
/* Average screen, average height */
/* Big screen, average height */
@media screen and (min-width: 800px) and (max-width: 1599px) and (min-height: 800px),
       screen and (min-width: 800px) and (max-width: 1599px) and (min-height: 550px) and (max-height: 799px),
       screen and (min-width: 1600px) and (min-height: 550px) and (max-height: 799px) {
    #speed {
        padding: 30px;
        height: 120px;
        font-size: 2.5rem;
    }

    #panel {
        height: 100px;
        font-size: 1.8rem;
    }

    #text {
        max-height: 50%;
        overflow: hidden;
        font-size: 2.5rem;
    }
}

/* Big screen, small height */
/* Average screen, small height */
/* Small screen, small height */
@media screen and (min-width: 1600px) and (max-height: 549px),
       screen and (min-width: 800px) and (max-width: 1599px) and (max-height: 549px),
       screen and (max-width: 799px) and (max-height: 549px) {
    #speed {
        padding: 20px;
        height: 80px;
        font-size: 2rem;
    }

    #panel {
        height: 100px;
        font-size: 1.8rem;
    }

    #text {
        max-height: 35%;
        overflow: hidden;
        font-size: 2rem;
    }
}

/* Small screen, medium height */
/* Small screen, big height */
@media screen and (max-width: 799px) and (min-height: 550px) and (max-height: 799px),
       screen and (max-width: 799px) and (min-height: 800px) {
    #speed {
        padding: 20px;
        height: 80px;
        font-size: 2rem;
    }

    #panel {
        height: 100px;
        font-size: 1.8rem;
    }

    #text {
        max-height: 70%;
        overflow: hidden;
        font-size: 2rem;
    }
}

.text-container {
    margin: 0 auto;
    max-width: 1200px;
}

#text {
    margin: 0 50px;
    text-align: left;
}

#speed {
    margin: 0 auto;
    top: 20px;
    text-align: center;
}

#panel {
    text-align: center;
    padding-top: 30px;
}

#hint {
    font-size: 1.2rem;
}



.wrong {
    color: #a55;
    background-color: #fdd;
}

.was-wrong {
    color: #a5a;
}

.space-was-wrong {
    text-decoration: underline #d9d;
}

.corrected {
    color: #999;
    background-color: #ede;
}

.typed {
    color: #999;
    background-color: #ddd;
}

.cursor {
    text-decoration: underline;
    text-decoration-color: #99f;
}

.hidden {
    display: none;
}
