body {
    background-color: #eee;
    color: #444;
    font-family: monospace;
    font-size: 1rem;
    overflow: hidden;
}

#text {
    font-size: 2.5rem;
    margin: 0 auto;
    max-width: 70%;
}

.cursor {
    text-decoration: underline;
    text-decoration-color: #99f;
}

.typed {
    color: #999;
    background-color: #ddd;
}

.typed-error {
    color: #a55;
    background-color: #fdd;
}

.typed-corrected {
    color: #999;
    background-color: #ede;
}

.loader {
  border: 16px solid #eee;
  border-top: 16px solid #e99;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
